
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*makes object come in from the left, x = from left to right*/
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    /*will put the object exactly where it is placed originally*/
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
