
//basic definitions of the entire project
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;//not so much typography, more so an overall setting for the webpage and the client's browser Global definition defines what 1 rem is. In this case 1 rem is equal to 10 px. because 62.5 percent of 16 px is 10 px.
}

body {
  box-sizing: border-box;
}
